<div class="uk-text-center">
	<form action="/" method="post">
		<div class="uk-margin-left uk-margin-right uk-margin-top uk-margin-bottom" uk-grid>
			<div class="uk-width-expand@m">
				<span class="uk-text-bold">ID Ação:</span>
				<input class="uk-input" name="id" type="query">
				<button
					class="uk-button uk-button-default uk-button-text"
					type="submit"
					name="ok"
					value="true"
				>
					Obter
				</button>
			</div>
		</div>
	</form>

	<div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l" uk-grid>
		{{#forEach result}}
			<div class="uk-width-1-3 uk-grid-margin uk-card uk-card-default uk-card-body" id="card-query">
				<p class="uk-card-title uk-margin-remove">{{getId}}</p>
				<div class="uk-overflow-hidden">
					<ul class="uk-list">
						<li>Preço de Abertura: {{getOpenPrice}}</li>
						<li>Preço de Fechamento: {{getClosePrice}}</li>
						<li>Preço de Máximo: {{getMaxPrice}}</li>
						<li>Preço de Médio: {{getMedPrice}}</li>
						<li>Preço de Mínimo: {{getMinPrice}}</li>
					</ul>
				</div>
			</div>
		{{/forEach}}
	</div>
</div>

<script>
</script>